bokeh
colorama
colorcet
comps
debugpy
Flask
FMPy
imageio
matlab
matplotlib
modelicares
networkx
numpy
pandas
pandasgui
plotly
Pyomo
pyproj
regex
requests
scipy
seaborn
startup
streamlit
tensorflow>=2.7.0
tensorflow_probability>=0.13.0
